<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>uj.pr.servlets.TestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>uj.pr.servlets.RegisterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>uj.pr.servlets.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>uj.pr.servlets.LogoutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AllProductsServlet</servlet-name>
		<servlet-class>uj.pr.servlets.AllProductsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ShowBasketServlet</servlet-name>
		<servlet-class>uj.pr.servlets.ShowBasketServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddToBasketServlet</servlet-name>
		<servlet-class>uj.pr.servlets.AddToBasketServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RemoveFromBasketServlet</servlet-name>
		<servlet-class>uj.pr.servlets.RemoveFromBasketServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OrdersServlet</servlet-name>
		<servlet-class>uj.pr.servlets.OrdersServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AllProductsServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AllProductsServlet</servlet-name>
		<url-pattern>/allproducts</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ShowBasketServlet</servlet-name>
		<url-pattern>/showbasket</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddToBasketServlet</servlet-name>
		<url-pattern>/addtobasket</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RemoveFromBasketServlet</servlet-name>
		<url-pattern>/removefrombasket</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OrdersServlet</servlet-name>
		<url-pattern>/orders</url-pattern>
	</servlet-mapping>
	
	<listener>
   		<listener-class>uj.pr.misc.InitListener</listener-class>
 	 </listener>

</web-app>


